* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
h2 {
    font-size: 35px;
    color: #444;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
}
#calculator{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #796f6f41;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 2px solid #000000;
}
#minordisplay{
    width: 30%;
    height: 30px;
    font-size: 14px;
    margin-top: -65px;
    margin-bottom: 10px;
    margin-left: 250px;
    padding: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: right;
    color: #000000;
}
#display {
    width: 100%;
    height: 50px;
    font-size: 24px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: right;
}
#buttons, #buttons2, #buttons3, #buttons4, #buttons5, #buttons6 {
align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.big-operator {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid #000000;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    box-shadow: 8px 8px 15px #cbced1;
    margin: 10px;
    cursor: pointer;
}
.operator {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid #000000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 18px;
    box-shadow: 8px 8px 15px #cbced1;
    margin: 10px;
    cursor: pointer;
}
.number {
    border: 2px solid #000000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 18px;
    box-shadow: 8px 8px 15px #cbced1;
    margin: 10px;
    cursor: pointer;
}